@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

.azeret-mono-normal {
  font-family: "Azeret Mono", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --primary-color: rgb(13, 19, 33);
  --secondary-color: rgba(13, 19, 33, 0.7);
  --light-color: rgb(13, 19, 33);
}

/* shared css */
.sub-heading {
  font-family: "Azeret Mono";
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  margin-bottom: 40px;
}

main {
  width: 70%;
  margin: 0 auto;
}

main section {
  margin-top: 74px;
}
.secondary {
  color: rgba(13, 19, 33, 0.7);
}
.sub-title {
  font-size: 20px;
  margin-bottom: 15px;
}
.btn {
  background: transparent;
  padding: 10px 29px;
  border-radius: 7px;
  border: 1px solid gray;
}
/* End of shared css */

.header {
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 150px;
}
.brand {
  font-size: 30px;
  font-weight: 600;
}

.resume-download button {
  padding: 12px 30px;
  font-size: 15px;
  font-weight: 600;
  font-family: "Azeret Mono", serif;
  background: transparent;
  border: 1px solid;
  border-radius: 9px;
  border-color: rgb(161, 163, 164);
}
.banar {
  width: 100%;
  height: 630px;
  padding: 45px 0;
  font-family: "Azeret Mono", serif;
  background-image: url("./assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.banar-context {
  width: 55%;
  margin: 0 auto;
}
.b-img {
  text-align: center;
}
.b-title {
  font-size: 42px;
  text-align: center;
  line-height: 60px;
  margin-bottom: 28px;
}
.b-description {
  text-align: center;
  font-size: 16px;
  color: rgb(13, 19, 33, 0.7);
}

.b-button-div {
  text-align: center;
  margin-top: 30px;
}
.b-button-div button {
  font-family: "Azeret Mono", serif;
  padding: 14px 26px;
  background-color: rgb(13, 19, 33);
  color: white;
  border-radius: 9px;
  border: none;
}

/* why web dev */
.why-web-dev {
  background-color: rgb(246, 248, 250);
  border-radius: 9px;
  padding: 97px 80px;
}
.dev-context-intro {
  text-align: center;
}
.dev-context-intro h2:hover {
  text-shadow: 0px -40px 3px rgb(196, 48, 255);
}
/* .dev-context-intro h2:hover {
  text-shadow: 5px 5px 9px rgb(238, 48, 255);
} */
/* .dev-context-intro h2 {
  text-shadow: 2px 2px 0px rgb(76, 255, 115), -2px -2px 0px rgb(76, 255, 115),
    -2px 2px 9px rgb(238, 47, 255), 2px -2px 9px rgb(247, 0, 255);
} */
.dev-description {
  margin-bottom: 40px;
}
.dev-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  flex-basis: 100%;
  background-color: white;
  border-radius: 9px;
  display: flex;
  padding: 10px 15px;
  justify-content: space-between;
  align-items: center;
}
.card-context {
  flex-basis: 50%;
}
.card-img img {
  width: 80%;
}
.card-btn {
  margin-top: 15px;
}
.card-description {
  color: rgba(13, 19, 33, 0.7);
}
.reverse-card {
  justify-content: flex-start;
  gap: 15px;
}
.reverse-card > .card-context {
  order: 2;
}

/* Inspiration Section */
.inspiration-context {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 90px;
}
.inspa-desc {
  width: 70%;
  text-align: center;
}
.y-video {
  width: 80%;
  /* flex-basis: 90%; */
  height: 320px;
}

/* Current Target Contex */
.current-target {
  /* background-color: bisque; */
}
.current-target-context {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  align-items: center;
  /* gap: 15px; */
}
.ct-desc {
  /* background-color: aqua; */
  text-align: center;
  font-size: 14px;
  padding: 0px 190px 20px 190px;
}
.ct-skills-main {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
}
.ct-skill:nth-child(1) {
  background-color: rgba(255, 229, 182, 0.39);
}
.ct-skill:nth-child(2) {
  background-color: rgba(182, 214, 255, 0.267);
}
.ct-skill:nth-child(3) {
  background-color: rgba(228, 182, 255, 0.363);
}

.ct-skill {
  /* background-color: bisque; */
  /* flex-basis: 1000px; */
  flex-basis: 30%;
  border-radius: 12px;
  padding: 27px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  font-size: 12px;
}

/* Nest Target Skill */
.nt-context {
  /* display: flex;
  flex-direction: column;
  gap: 50px; */
}
.nt-intro {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
}

.nt-skills {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.nt-skill-card {
  display: flex;
  gap: 20px;
  border-radius: 9px;
  border: 1px solid rgb(209, 202, 202);
  padding: 20px;
  align-items: center;
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease;
}
.nt-skill-card:hover{
  transform: scale(1.02) rotate(5deg);
  box-shadow: 0px 6px 10px 0px rgb(17, 230, 27);
}

.nt-skill-img {
  flex-basis: 20%;
}
.nt-skill-img img {
  width: 80%;
}
.nt-skill-context > p {
  font-size: 12px;
}

/* Support Section */

.support {
  position: relative;
  width: 100%;
  height: 320px;
  margin-bottom: 60px;
}
.support-bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 15, 0.514);
  border-radius: 9px;
}
.support-bg-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 9px;
  z-index: -1;
}
.support-context {
  position: relative;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  top: 50px;
  color: rgb(255, 255, 255);
}
.support-context > p {
  font-size: 14px;
}
.sp-item {
  text-align: center;
}
.inputs input[type="text"],
.inputs input[type="submit"] {
  padding: 7px 30px;
  border-radius: 8px;
  border: none;
  outline-color: red;
}
